<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>App3</title>

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.0/examples/sign-in/signin.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).ready(function() {

        var toggleButtons = (status) => {
          $('.start-pooling').toggleClass(' d-none', status.active);
          $('.stop-pooling').toggleClass(' d-none', !status.active);
        }

        const socket = new WebSocket("ws://{{webSocket['host']}}:{{webSocket['port']}}");

        socket.onmessage = (message) => {
          let data = JSON.parse(message.data);

          let keysSorted = Object.keys(data).sort(function(a,b){return data[a]-data[b]}).reverse();

          var liElements = [];

          keysSorted.forEach( (key) => {
            let name = key;
            let score = data[key];
            liElements.push(`<li class="list-group-item"><span class="row"><span class="col-md">${name}</span><span class="col-md">${score}</span></span></li>`);
          })

          $('.players-list').empty();
          $('.players-list').html(liElements.join(''));
        };

        $('.start-pooling').on('click', (e) => {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: 'http://pokerstars.app1.local/leaderboard/start',
                dataType: "json",
                success: function(result) {
                    let data = result['data'];
                    toggleButtons(data);
                }
            });
        });

        $('.stop-pooling').on('click', (e) => {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: 'http://pokerstars.app1.local/leaderboard/stop',
                dataType: "json",
                success: function(result) {
                    let data = result['data'];
                    toggleButtons(data);
                }
            });
        });

        $.ajax({
            type: 'GET',
            url: 'http://pokerstars.app1.local/leaderboard/status',
            dataType: "json",
            success: function(result) {
                let data = result['data'];
                $('.start-pooling').toggleClass(' d-none', data.active);
                $('.stop-pooling').toggleClass(' d-none', !data.active);
            }
        });
      });
    </script>
</head>
<body class="text-center">
    <main class="form-signin">
        <form>
            <img class="mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZQLe-g5OjG-gDfNVBoFG_7ZIQV1t12ltMW6WUeeqJeDbfqDPqyRO1Wghk3v3R2psXBpo&usqp=CAU" alt="" width="72"
                 height="86">
            <h1 class="h3 mb-3 fw-normal">Leaderboard</h1>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Highscore</h5>
                    <h6 class="card-subtitle mb-2 text-muted">List of players with their scores sorted by score descending</h6>
                    <ul class="list-group list-group-flush players-list">

                    </ul>
                </div>
            </div>

            <div class="checkbox mb-3">

            </div>
            <button class="start-pooling w-100 btn btn-lg btn-primary d-none" type="submit">Start pooling</button>
            <button class="stop-pooling w-100 btn btn-lg btn-danger d-none" type="submit">Stop pooling</button>
        </form>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>

    <script src="/socket.io/socket.io.js"></script>
</body>
</html>